.assets-bar,
.chart-bar,
.indicators {
    border-radius: var(--default-radius);
    margin-top: 12px;
    backdrop-filter: blur(12px);
    min-height: 300px;
    position: absolute;
    z-index: 2000;
    padding: 16px;
    border: 1px solid var(--border-color);
}



.chart-bar {
    min-width: 300px;
}


.assets-bar {
    min-width: 500px;
    display: grid;
    grid-template-columns: 180px 400px;
    gap: 24px;
}

.assets-bar .tabs {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
}

.assets-bar .tabs button {
    border: none;
    border: 1px solid var(--border-color);
    border-radius: var(--default-radius);
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1em;
    height: 40px;
    width: 100%;
    background-color: var(--color-surface);
    font-weight: normal;
    font-size: var(--small-font2);
    color: white;
    padding: 0 1em;
    transition: all 200ms;
}

.assets-bar .tabs button.active,
.assets-bar .tabs button:hover {
    border-color: var(--color-primary);
    background-color: var(--color-primary-light);
}

.assets-bar .tabs p {
    font-size: var(--small-font);
    color: var(--color-on-surface-light);
}






/* 1 */

.assets-bar .search-bar {
    display: grid;
    grid-template-columns: auto max-content;
    gap: 8px;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: var(--default-radius);
    background-color: var(--color-surface);
}

.assets-bar .search-bar input {
    display: block;
    width: 100%;
    height: 36px;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    padding-left: 1em;
    padding-right: 1em;
    font-size: var(--medium-font);
}

.assets-bar .search-bar button {
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
}

.assets-bar .search-bar button:hover {
    opacity: 0.7;
}

.assets-bar .search-bar button svg {
    fill: white;
}


.assets-bar .list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-on-surface-light);
    font-size: var(--medium-font);
    margin: 1em 0;
    margin-left: 40px;
}

.assets-bar .list-header button {
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    background-color: transparent;
    font-size: inherit;
}

.assets-bar .list-header button svg {
    fill: white;
    width: 18px;
}


.assets-bar .list .content {
    margin-top: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.548);
    font-size: var(--medium-font);
}

.assets-bar .list .content svg {
    fill: orange;
    width: 24px;
    height: 24px;
}


.assets-bar .list .item {
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    transition: all 200ms;
    border-radius: var(--default-radius);
    padding: 0.4em 1em;
}

.assets-bar .list .item:hover {
    background-color: rgba(0, 152, 247, 0.2);
}

.assets-bar .list .item .logo {
    width: 40px;
    position: relative;
    height: 26px;
}

.assets-bar .list .item img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 1px solid white;
}

.assets-bar .list .item .logo img:last-child {
    left: unset;
    right: 0;
}









/* chart bar */


.chart-bar p {
    color: var(--color-on-surface-light);
    margin: 0;
    font-size: var(--medium-font);
}

.chart-bar .chart-holder {
    display: flex;
    gap: 0.8em;
    margin: 1em 0;
}

.chart-bar .chart-holder svg {
    width: auto;
    height: 40px;
    fill: var(--color-on-surface-light);
}

.chart-bar .chart-holder>div {
    cursor: pointer;
    color: var(--color-on-surface-light);
    width: 120px;
    height: 120px;
    border-radius: var(--default-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: #293144b4;
    transition: all 200ms;
}

.chart-bar .chart-holder>div:hover,
.chart-bar .chart-holder>div.active {
    background-color: #343f57;
}


.chart-bar .toggle-holder {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: var(--medium-font);
    color: var(--color-on-surface-light);
    margin: 0.5em 0;
}









/* indicators */

.indicators {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 700px;
    text-align: left;
}

.indicators>button {
    border: none;
    text-align: left;
    background-color: transparent;
    outline: none;
    padding: 0.5em 1em;
    color: var(--color-on-surface-light);
    font-size: var(--medium-font);
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-radius: var(--default-radius);
    border: 1px solid transparent;
    transition: all 200ms;
}

.indicators>button:hover, .indicators>button.active{
    background-color: rgba(0, 152, 247, 0.2);
    /* background-color: var(--color-primary-light); */
    border-color: var(--color-primary);
}

.indicators>button svg{
    width: 20px;
    height: 20px;
    fill: orange;
}