

.my-toolbar{
    /* position: absolute;
    z-index: 1000;
    top: 0px;
    left: 0px;
    min-width: 200px;
    min-height: 40px; */
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--color-surface);
}

.my-toolbar .inner{
    margin-left: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.my-toolbar .inner>div{
    position: relative;
}

.my-toolbar .inner button.inner-btn{
    height: 40px;
    min-width: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    outline: none;
    border-radius: var(--default-radius);
    font-weight: bold;
    transition: all 200ms;
    font-size: var(--medium-font);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    backdrop-filter: blur(12px);
}

.my-toolbar .inner button.inner-btn:first-child{
    padding-left: 12px;
    padding-right: 12px;
}

.my-toolbar .inner button.inner-btn:first-child svg{
    width: 16px;
    height: 16px;
    transition: all 200ms;
    display: block;
}

.my-toolbar .inner button.inner-btn:first-child svg.flip{
    transform: rotateZ(180deg);
}



.my-toolbar .inner button.inner-btn svg{
    fill: white;
    width: 24px;
    height: 24px;
}

.my-toolbar .inner button.inner-btn.active, .my-toolbar .inner button.inner-btn:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.my-toolbar .legend{
    margin-left: 24px;
    font-size: var(--small-font);
    color: rgba(255, 255, 255, 0.644);
    letter-spacing: 1px;
    
}