:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --default-radius: 6px;
  --medium-font: 16px;
  --small-font: 13px;
  --color-surface: black;

}


body{
  margin: 0;
  background-color: var(--color-surface);
}