:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --default-radius: 6px;
  --big-font: 24px;
  --medium-font2: 18px;
  --medium-font: 14px;
  --small-font2: 12px;
  --small-font: 10px;

  --color-primary: rgba(0, 152, 247);
  --color-primary-light: rgba(0, 152, 247, 0.08);
  --color-surface: #141414;
  --color-surface-2: #1c1f27;
  --color-on-surface: white;
  --color-on-surface-light: #8CA6BF;
  --border-color: rgba(255, 255, 255, 0.13);

  --temp: rgba(239, 35, 59, 0.102);
  --success-color: #29bf12;
  --error-color: #ef233c;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


body {
  margin: 0;
  background-color: var(--color-surface);
}

.success {
  color: var(--success-color) !important;
}

.error {
  color: var(--error-color) !important;
}



/* width */
.scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: #ffffff1f;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.63);
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.452);
}